/*  Atividade 1 - Rafaela Dias (SIS) */

.div1{

    background-color: #F5200D;
    width: 50px;
    height: 50px;
    border: 2px solid #0CE049;
    margin-top: 100px;
    
}
.div2{
    background-color: black;
    height: 50px;
    width: 50%;
    border: #F5200D 10px dashed;
    margin-top: 100px;
    margin-left: 100px;
}

